{{#partial "content"}}

    <div class="myReviews">
    <div class="card mb-3 bodybody" style="width: 100%">
        <p class="row g-0">

        <h3 class="font-weight-bold text-center"><u>View All the Reviews.</u></h3>
            <p class="card-title burj text-center"><span class="font" >{{place.destinantion}}</span><i class="fa fa-map-marker text-center" aria-hidden="true"></i>
                {{place.location }}</p>
            <p class="col-md">
                <p class="text-center"></p><img src="{{place.imageurl}}" /></p>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>




    </p>
<!--      -->
    {{#each places}}

            <div class="card  reviews" style="width: 18rem;">
                <img src="{{place.imageurl}}"alt="...">
                <button class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p class="card-text">Rating: {{rating}}</p>
                    <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</p>
                    <p>Place Id {{placeid}}</p>
                    <p class="card-text">posted at {{createdAt}}</p>
                    <p class="card-text">{{message}}</p>

            </div>

    {{/each}}
    </div>



{{/partial}}
{{> layout.hbs}}
