{{#partial "content"}}
    <div class="revdetails">
    <div id="review-details" class="row">
        <div class="col-lg-6 col-md-6 col-12">
        <div class="card mb-3" style="width: 100%">
            <div class="row g-0">
                <div class="col-md">
                    <img src="{{selectedDestinantion.imageurl}}" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title burj">{{selectedDestinantion.destination }}</h1>

                        <p class="card-text">
                        <p class="text-muted"
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>
                            {{ selectedDestinantion.location }}</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="Description col-lg-6 col-md-6 col-12">
            <p class="comp-description"><h1>About Destination</h1></p>
            <p>{{ selectedDestinantion.description }}
            </p>
            <a href="/review/{{ selectedDestinantion.id}}/new" class="button mb-4">Add Review</a>
        </div>
    </div>
        <!--Review cards-->
    {{#each reviews}}
        <div class="row justify-content-center reviewcards ">
            <h3>Reviews</h3>
            <div class="col-sm-5 " >
                <div class="card revcards ">
                    <div class="card-body ">

                        <p>{{name}}</p>
                        <p>Rating: {{rating}}</p>
                        <p>posted at {{createdAt}}</p>
                        <p class="card-text">{{message}}</p>
                    </div>
                </div>
            </div>

        </div>
    {{/each}}
    </div>
{{/partial}}
{{> layout.hbs}}