{{#partial "content"}}


    <div class="card mb-3" style="width: 100%">
        <div class="row g-0">
            <div class="col-md">
                <img src="{{imageurl}}" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title burj">{{name }}</h1>

                    <p class="card-text">
                    <p class="text-muted"
                    ><i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{ location }}</p
                    >
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="review-content d-flex flex-col">
        <div class="Description col-md-3">
            <p class="comp-description"><h1>About Destination</h1></p>
            <p>{{ description }}
            </p>
            <a href="/review/{{ review.id}}/new" class="button mb-4">Add Review</a>
        </div>

        <div class="d-flex flex-column">

            {{#each review}}
                <div class="card" style="width: 18rem;">
                    <img src="https://i.pravatar.cc/100"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{name}}</h5>
                        <p class="card-text">Rating: {{rating}}</p>
                        <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</p>
                        <p>Place Id {{placeid}}</p>
                        <p class="card-text">posted at {{createdAt}}</p>

                        <p class="card-text">{{message}}</p>
                        <a href='/review-form'> Add a Review </a>
                    </div>
                </div>


<!--                <div class="reviewer col-md-4">-->
<!--                    <div class="card text-center">-->
<!--                        <div class="card-header">-->
<!--                            <div class="avatar-info"> <p><img src="https://i.pravatar.cc/100" alt="" style="width: 100px; height: 100px"></p></div>-->

<!--                            <div>-->
<!--                                <p>Name: {{name}}</p>-->
<!--                                <p>Rating: {{rating}}</p>-->
<!--                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}-->
<!--                                <p>Place Id {{placeid}}</p>-->
<!--                                <p>posted at {{createdAt}}</p>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div class="card-body">-->
<!--                            <p class="card-text">{{message}}</p>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                    <br>-->
<!--                    <br>-->
<!--                </div>-->
                {{/each}}


        </div>

    </div>


{{/partial}}
{{> layout.hbs}}
